.heading{
    width: 100%;
    text-align: left;
}

#title{
    font-size: 24px;
    font-family: 'Supermercado One', cursive;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
font-family: 'Supermercado One', cursive;
}

h4{
    font-family: 'Supermercado One', cursive; 
    background-color: grey;
    line-height: 2;
    margin-bottom: 100px;
    

}

.modal-dialog
{
    width: 70%;
}

.modal-body
{
    text-align: left;
    font-size: 20px;
}