.heading{
    width: 100%;
    text-align: left;
}

#title{
    font-size: 24px;
    font-family: 'Supermercado One', cursive;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
font-family: 'Supermercado One', cursive;
}
